.product {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 8px;
}

.add-to-cart, .log-in {
    background-color: #646cff;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.add-to-cart:hover, .log-in:hover {
    background-color: #535bf2;
}